/* circle pogu */
.loader {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3b82f6;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* CANVAS */
#precipitation-canvas {
    width: 100%;
    /* border: solid 1px blue; */
    image-rendering: pixelated;
}