@font-face {
  font-family: orangeJuice;
  src: url(font/orange-juice/orange\ juice\ 2.0.ttf);
}

@font-face {
  font-family: eastTiger;
  src: url(font/east-tiger/East\ Tiger.otf);
}

@font-face {
  font-family: bollymoth;
  src: url(font/bollymoth/Bollymoth/Bollymoth.ttf);
}

#page_title {
  font-family: bollymoth;
}

.changable_font_color {
  /* color: rgb(0, 95, 114);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */

  color: white;
  text-shadow: -1px -1px 0 rgb(0, 95, 114), 1px -1px 0 rgb(0, 95, 114), -1px 1px 0 rgb(0, 95, 114), 1px 1px 0 rgb(0, 95, 114);
}

#wi_logo {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

/* circle pogu */
.loader {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3b82f6;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* CANVAS */
#precipitation-canvas {
  width: 100%;
  height: 20vh;
  
  image-rendering: pixelated;

  border-top: dashed 2px #3b82f6;
  border-bottom: dashed 2px #3b82f6;

  /* background: #cdcdcd; */
}


a {
  /* color: #3b82f6; */
  font-weight: bold;
  font-size: medium;
}

main {
  min-height: 73vh;
}



/* CLOUDS */

/* LONG */
@media screen and (min-width: 600px) {
  
  .cloud {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 100s;
  }
  
  @-webkit-keyframes run {
    0% {
      left: 0;
    }
  
    50% {
      left: calc(100% + 300px);
    }
  
    100% {
      left: 0;
    }
  }  

  .cloud_slow {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_slow;
    -webkit-animation-duration: 150s;
  }
  
  @-webkit-keyframes run_slow {
    0% {
      left: 0;
    }
  
    100% {
      left: calc(100% + 300px);
    }
  }

  .cloud_fast {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_fast;
    -webkit-animation-duration: 60s;
  }
  
  @-webkit-keyframes run_fast {
    0% {
      left: 0;
    }
  
    100% {
      left: calc(100% + 300px);
    }
  }

  /* FROM RIGHT */

  .cloud_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_right;
    -webkit-animation-duration: 100s;
  }
  
  @-webkit-keyframes run_right {
    0% {
      right: 0;
    }
  
    50% {
      right: calc(100% + 300px);
    }
  
    100% {
      right: 0;
    }
  }  

  .cloud_slow_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_slow_right;
    -webkit-animation-duration: 150s;
  }
  
  @-webkit-keyframes run_slow_right {
    0% {
      right: 0;
    }
  
    100% {
      right: calc(100% + 300px);
    }
  }

  .cloud_fast_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_fast_right;
    -webkit-animation-duration: 60s;
  }
  
  @-webkit-keyframes run_fast_right {
    0% {
      right: 0;
    }
  
    100% {
      right: calc(100% + 300px);
    }
  }

}

/* SMALL */
@media screen and (max-width: 600px) {
  .cloud {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 50s;
  }
  
  @-webkit-keyframes run {
    0% {
      left: 0;
    }
  
    50% {
      left: calc(100% + 300px);
    }
  
    100% {
      left: 0;
    }
  }
  
  .cloud_slow {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_slow;
    -webkit-animation-duration: 120s;
  }
  
  @-webkit-keyframes run_slow {
    0% {
      left: 0;
    }
  
    100% {
      left: calc(100% + 300px);
    }
  }

  .cloud_fast {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_fast;
    -webkit-animation-duration: 30s;
  }
  
  @-webkit-keyframes run_fast {
    0% {
      left: 0;
    }
  
    100% {
      left: calc(100% + 300px);
    }
  }

  /* FROM RIGHT */

  .cloud_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_right;
    -webkit-animation-duration: 50s;
  }
  
  @-webkit-keyframes run_right {
    0% {
      right: 0;
    }
  
    50% {
      right: calc(100% + 300px);
    }
  
    100% {
      right: 0;
    }
  }  

  .cloud_slow_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_slow_right;
    -webkit-animation-duration: 120s;
  }
  
  @-webkit-keyframes run_slow_right {
    0% {
      right: 0;
    }
  
    100% {
      right: calc(100% + 300px);
    }
  }

  .cloud_fast_right {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run_fast_right;
    -webkit-animation-duration: 30s;
  }
  
  @-webkit-keyframes run_fast_right {
    0% {
      right: 0;
    }
  
    100% {
      right: calc(100% + 300px);
    }
  }

}

